        <div class="row" id="embed-code-row" style="margin-top: .5em; margin-bottom: .5em">
            <div class="col-md-12">
                <p>Copy the selected code and paste on a page where you want the widget to show.</p>
                <textarea id="embed-code" class="form-control"></textarea>
            </div>
        </div>
