<a href="http://www.open-nc.org" style="border: none"><img style="display: block; margin-left: auto; margin-right: auto;" src="http://open-nc.org/static/bootstrap/img/opennc_logo.png" /></a>
<p>Howdy, {{ name }}!
{{ results|safe }}