<a href="http://www.open-nc.org" style="border: none"><img style="display: block; margin-left: auto; margin-right: auto;" src="http://open-nc.org/static/bootstrap/img/opennc_logo.png" /></a>
<p>Howdy, {{ name }}!
{{ results|safe }}
<p><strong>About this data:</strong> This data includes records scraped or downloaded from government agencies by Open N.C. Results from searches of crime data may include reports from past years. Our scraping process gathers two sets of data: those reports available for the most recent seven days, and reports for each of the seven days older than the oldest data in that particular data set. For example, if we were scraping arrest data for the Wake County Sheriff's Office on June 17, 2015, and before we started the oldest record in that set was for May 28, 2010, we would search for records from June 11-17, 2015, and for records from May 21-27, 2010.</p>
<p>Each record includes a field noting when it first entered the database, which we use to determine whether a record is "new" for these alerts. So your results may include the historic records we're also gathering.</p>
