        <form id="graph-change-form" class="widget-form">
            <div class="row" id="graph-change-row">
                <div class="col-md-12">
                    <h4>Chart type</h4>
                </div>
                <div class="radio">
                    <div class="col-md-8">
                        <label for="graph-column-chart" class="radio-inline">
                            <input type="radio" id="graph-column-chart" name="graph-chart-type" class="graph-type" value="ColumnChart" checked>
                            Column
                        </label>
                        <label for="graph-bar-chart" class="radio-inline">
                            <input type="radio" id="graph-bar-chart" name="graph-chart-type" class="graph-type" value="BarChart">
                            Bar
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4>Graph dimensions</h4>
                </div>
                <div class="col-md-4 col-xs-10">
                    <label for="graph-width" class="control-label">Graph width</label>
                        <input type="number" class="form-control graph-change-param" id="graph-width" data-option="width">
                </div>
                <div class="col-md-4 col-xs-10">
                    <label for="graph-height" class="control-label">Graph height</label>
                        <input type="number" class="form-control graph-change-param" id="graph-height" data-option="height">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4>Graph Labels</h4>
                </div>
                <div class="col-md-4 col-xs-10">
                    <label for="graph-title" class="control-label">Graph title</label>
                        <input type="text" class="form-control graph-change-param" id="graph-title" data-option="title">
                </div>
                <div class="col-md-4 col-xs-10">
                    <label for="graph-hAxis" class="control-label">Horizontal axis label</label>
                        <input type="text" class="form-control graph-change-param" id="graph-hAxis" data-option="hAxis.title">
                </div>
                <div class="col-md-4 col-xs-10">
                    <label for="graph-hVxis" class="control-label">Vertical axis label</label>
                        <input type="text" class="form-control graph-change-param" id="graph-vAxis" data-option="vAxis.title">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4>Graph elements</h4>
                </div>
                <div class="col-md-4 col-xs-10">
                    <label for="graph-color" class="control-label">Bar/line color</label>
                        <input type="color" class="form-control graph-change-param" id="graph-color" data-option="colors" value="">
                </div>
                <div class="col-md-8 col-xs-10">
					<div class="radio">
							<b>Show legend?</b>
							<label class="radio-inline">
								<input type="radio" id="graph-legend-yes" name="graph-legend" class="graph-change-param" value="right" data-option="legend.position">
								Yes
							</label>
							<label class="radio-inline">
								<input type="radio" id="graph-legend-no" name="graph-legend" class="graph-change-param" value="none" data-option="legend.position">
								No
							</label>
					</div>
                </div>
            </div>

            <div class="row" style="margin-top: .5em">
                <div class="col-md-8">
                    <button type="button" class="btn btn-default" id="graph-change-button">Change</button>
                    <button class="btn btn-default" type="button" id="graph-change-reset">Reset</button>
                </div>
            </div>
        </form>
