                        <li id="dd-manage-user" class="active dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Manage alerts/log out<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a id="dd-manage-alerts" class="dd-show-pointer">Manage alerts</a></li>
								<li><a id="dd-log-out" class="dd-show-pointer">Log out</a></li>
                            </ul>
                        </li>
